.names{
   display: flex;
   justify-content: space-around;
   padding: 10px;

   color: #ffff; 
    border: #ffff 1px solid;
 
   
 }
 div{
   
 }
 .round{
   display: flex;
   justify-content: space-around;
   color: #ffff; 
   text-align: center;
   margin-bottom: 10px;
   border: 1px solid #Fff;
 
 }
 .item{
  width: 100%;
  border-left: 1px solid #Fff;
  padding: 10px;
  text-align: center;
 }
 .item:first-child{
  border: none;
 }
 
 body{
   background-color: #000000;
 }
 .green{
   background-color: green;
 }
 .blue{
   background-color: blue;
 }